:root
{
    --primary-color:white;
    --secondary-color:rgb(84, 186, 185)
    ;
    --third-color:#A66F5B;
    --dark-gray-color:#323232;
}

body
{
    background: white
}

nav
{
    background: linear-gradient(to right, rgba(84, 84, 185, 0.5), rgb(84, 186, 185,0.6)
    );
}

.navimg
{
    width: 3em;
    height: 3em;
    border-radius: 50%;
    overflow: auto;
}

h1,h2,h3,h4,h5,h6
{
    color:var(--secondary-color)

}


main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer
{
    background: var(--dark-gray-color);
    padding-right: 1rem;
}

.icon
{
    font-size: 22px;
}
.icon a
{
    color:var(--secondary-color);
}
.icon a:hover
{
    color:var(--primary-color);
}

#imgp
{
    margin: 0;
}

.checklist
{
    list-style: none;
}
.checklist span
{
    color:var(--dark-gray-color)
}

code[class*="language-"], pre[class*="language-"]
{
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}

.tecnology
{
    color:var(--dark-gray-color);
    font-size: 3em;

}
